body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: sans-serif;
    background: #e0e2e2;
    font-weight: 300;
    min-height: 100vh;
}

strong {
    font-weight: 600;
}

dt {
    margin-top: 1em;
    font-weight: bold;
}

p,li {
    line-height: 1.25em;
}

.wrap {
    width: 650px;
    max-width: 100%;
}

.block {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    padding: 2em;
}

header.block, footer.block {
    flex-grow: 0;
    background: black;
    color: #EFEFEF;
}

.logo {
    font-family: serif;
    font-size: 4.5em;
}

.navbar {
    display: flex;
    justify-content: space-between;
}

.navbar a {
    text-decoration: none;
    color: #EFEFEF;
}

.navbar-links {
    text-align: right;
    line-height: 1.5em;
    margin-left: auto;
}

.navbar-link {
    text-decoration: none;
    border-bottom: 1px solid #EFEFEF;
    color: #EFEFEF;
    margin-left: 1em;
}

.navbar-link:visited {
    color: #EFEFEF;
}

.title hr {
    background: #EAEAEA;
    border: none;
    height: 1px;
}

.title h1 {
    font-size: 1.75em;
    margin-top: 2em;
    margin-bottom: 0;
}

.block-intro {
    background: #2f556b;
    color: #EFEFEF;
}

.intro-item {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
    line-height: 1.25em;
}

.intro-item img {
    padding-right: 1em;
    color: #EFEFEF;
    height: 4em;
}

.intro-item a {
    color: white;
}

.intro-col h2 {
    margin: 0.1em 0;
    font-size: 1em;
    font-weight: 800;
}

.intro-col p { margin: 0.5em 0; }

.block-content {
    margin: 0em 5% 2.5em;
    flex-grow: 1;
}

.block-content h1 {
    margin-top: 2em;
    font-size: 1.75em;
}

.block-contribute {
    background: #582f6b;
    color: #EFEFEF;
}

.block-contribute a {
    color: #FFFFFF;
}

.twocol {
    display: flex;
}

.col-padding {
    margin: 1em;
}

.sponsors {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.sponsor {
    padding: 1em;
    height: 8em;
}
