<!DOCTYPE html>
<html lang="{{ $.Site.LanguageCode | default "en" }}">
  {{- partial "head.html" . -}}
  {{- block "head-override" .}}{{- end }}
  <body>
    <header class="block">
      <div class="wrap">
        <!-- top logo & nav bar -->
        <div class="navbar">
          <span class="logo"><a href="/" class="title-link"><img width="128px" src="/img/logo.svg" /></a></span>
          <div class="navbar-links">
            {{ with .Site.GetPage "home/nav" }}
            <a class="navbar-link" href="/downloads">{{ .Params.Download }}</a>
            <a class="navbar-link" href="/community">{{ .Params.Community }}</a>
            <a class="navbar-link" href="/learn">{{ .Params.Learn }}</a>
            {{ end }}
          </div>
        </div>

        {{- block "header-title" . }}{{- end }}
      </div>
    </header>
    
    {{- block "main" . }}{{- end }}

    {{- partial "footer.html" . -}}
  </body>
</html>
